[submodule "audio-metadata"]
	path = audio-metadata
	url = git@github.com:datagutten/audio-metadata.git
[submodule "tools"]
	path = tools
	url = git@github.com:datagutten/tools.git
[submodule "TIDALtools"]
	path = TIDALtools
	url = https://github.com/datagutten/TIDALtools.git
